/*
Orange color: #e67e22

---Typography---
Recommended font-size for headers: 2.4em / 240% / 90px (or between 60px-90px)
Recommended font-size for regular text: 22px (or between 15px - 25px)
Recommended line-spacing: 150% (or between 120% - 150%)
Recommended characters per line: 45-90 characters
*/

@font-face {
    font-family: 'Myfont';
    src: url(../ionicons.ttf);
    src: url(../ionicons.woff);
    font-style: normal;
    font-weight: 200;
}


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Myfont', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@font-face {
    font-family: "ionicons";
    src: url('fonts/ionicons.eot');
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

header h1 {
    font-size: 3em;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

header .hero-text-box {
    margin: 20% 10%;
}

header #button1 {
    text-decoration: none;
    color: orange;
    border: 1px solid orange;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 3% 2%;
}

header #button1:hover {
    color: white;
    background-color: orange;
}

header #button2 {
    text-decoration: none;
    color: orange;
    border: 1px solid orange;
    border-radius: 50px;
    padding: 10px 30px;
}

header #button2:hover {
    color: white;
    background-color: orange;
}


/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */
/* #navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    width: 100%;
} */

#navdiv {
    display: inline-block;
    width: 100%;
    text-align: right;
}

#navbar .logo {
    width: 6.5em;
    height: 6.5em;
    display: inline;
    position: fixed;
    left: 5px;
    top: 5px;
}

 #navbar ul {
    list-style: none;
    display: inline-block;
    width: 80%;
    padding-top: 5%;
    margin-right: 7%;

}

#navbar li {
    display: inline;
    margin: 0 1%;  


}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    color: white;


}

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */
#features h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 7% 0 3% 0;
}

#features .long-copy {
    font-size: 1.5em;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 60%;
    text-align: center;  
}

#features hr {
    width: 20%;
    height: 0;
    margin: 0 auto;
    border: 2px solid orange;
}

#features i {
    color: orange;
    font-size: 3em;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#features h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 5%;

}

#features .short-copy {
    text-align: center;
    width: 30%;
    height: 40%;
    display: table-cell;
    vertical-align: middle;
}

#features .row.js--wp-1 {
    margin: 0 10%;
}

/* ----------------------------------------------- */
/* SECTION-MEALS */
/* ----------------------------------------------- */
.section-meals{
    padding: 0;
    margin: 5% 0;
}
.section-meals ul{
    list-style: none;
    display: flex;
    /* width: 100%;
    height: 100%; */
}
/* .section-meals li{
    width: 30%;
    height: 30%;
} */
.section-meals figure {
    margin: 0;
    padding: 0;
}
.section-meals img {
    width: 100%;
    height:100%;
}
/* ----------------------------------------------- */
/* WORKS */
/* ----------------------------------------------- */

#works {
    background-color: #e1e1e1;
}
    #works h2 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 30px;
        font-size: 2.5em;
        }

    #works hr {
        width: 20%;
        height: 0px;
        margin: 0 auto;
        border: 3px solid orange;    
    }
    #works .number {
        border: 3px solid orange;
        border-radius: 50%;
        display: inline-block;
        color: orange;
        font-weight: bold;
        font-size: 1.5em;
        padding: 0px 15px;
    }

    #works .text {
        margin-top: 10%;
        width: 55%;
        font-size: 1.5em;
    }

    #works .app-screen {
        height: 40%;
        width: 35%;
        margin-left: 45%;
        margin-top: 10%;
    }

    #works .store {
        margin: 5% 5% 5% 0%;
        height:20%;
        width: 20%;
    }



/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */
#cities {
    margin: 5% 10%;
}

#cities h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 3%;

}
#cities hr {
    width: 10%;
    height: 0px;
    margin: 0 auto;
    border: 2px solid orange;    
}


#cities img {
    margin-top: 10%;
    height: 60%;
    width: 60%;
}

#cities .city-feature i, .city-feature a {
    color: orange;
    font-weight: bold;
}


#cities .city-feature, img, h3 {
    margin: 2% 2% 2% 8%;
}



/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */
.section-testimonials {
    padding: 0 10% 5% 10%; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/back-customers.jpg');
    opacity: 0.9;
    width: 100%;
}


.section-testimonials h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 5% 0 2% 0;
    color: white;

}

.section-testimonials hr {
        width: 10%;
        height: 0px;
        margin: 0 auto;
        border: 2px solid orange;    
    }

.section-testimonials blockquote::before {
    content: "\201c";
    font-size: 5em;
    color: white;
}

.section-testimonials blockquote {
    width: 95%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 120%;
    padding-top: 10%;

}

.section-testimonials cite {
    display: flex;
    padding-top: 5%;
    align-items: center;
    }

.section-testimonials img {
    display: flex;
    height: 15%;
    width: 15%;
    border-radius: 50%;
}



/* ----------------------------------------------- */
/* PLANS */
/* ----------------------------------------------- */

#plans {
    background-color: #f8f9fa;

}

#plans h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;

}

#plans h3 {
    text-transform: uppercase;
    padding: 5%;

}

#plans p {
    padding: 5%;

}

#plans ul{
    list-style-type: none;
    padding: 5%;

}

#plans .plan-price{
    color: orange;
    font-size: 3em;
}

#plans span{
    font-size: .5em;
}

#plans .plan-box{
    display: inline-block;
    background-color: white;
    width: 350px;
}

#plans a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    border: 1px solid orange;
    padding: 3%;
    margin: 5%;
    border-radius: 25%;
}

#plans .btnclass{
    text-align: center;
}

#plans hr {
    width: 5%;
    height: px;
    margin: 0 auto;
    border: 1px solid orange;
    margin-bottom: 30px;
}

#plans-box hr{
    width: 100%;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #f8f9fa;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
